/* Estilos responsivos */

@media (max-width: 768px) {
  .catalogo h1 {
      font-size: 1.5rem;
  }
  .catalogo p {
      font-size: 1rem;
  }
  .filtros {
      display: none;
  }
  .cursos {
      flex-direction: column;
  }
  .curso {
      width: 100%;
      margin: 0 auto;
  }
}
